<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GearAge</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
        <li><a href="#">Join</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="wrapper container">
    <header></header>
    <nav></nav>
    <div class="heading"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="pr-block">
            <div class="pr-main">
              <div>
                
              </div>
            </div>
            <div class="pr-side">
              <div class="pr-rate">
              
              </div>
              <div class="pr-owns">
              
              </div>
              <div class="pr-wants">
              
              </div>
              <div class="pr-buy">
              
              </div>
            </div>
          </div>
          <div class="pr-usrs-block">
            <div class="pr-usrs-pro pull-left">
              <div class="pr-usrs-info">
              <ul class="list-unstyled">
                <li>Owns pro:</li>
                <li class="pro-title">Some Dickhead</li>
                <li ><small class="pro-from" >Member of Shit Happening</small></li>
                <li ><a href="#"><span class="help-block text-uppercase">1 more...</span></a></li>
              </ul>
              </div>
              <div class="pr-usrs-img pull-left">
                <img src="img/usr_placeholder.gif" alt="img/usr_placeholder.gif" class="img-circle img-responsive">
              </div>
            </div>
            <div class="pr-usrs pull-left">
                <div>Owns users:</div>
                <div>
                  <ul class="list-inline">
                    <li class="logged-user">
                      <img src="img/usr_placeholder.gif" alt="img/usr_placeholder.gif" class="img-circle img-responsive">
                      <p><strong class="text-uppercase">username</strong></p>
                    </li>
                  </ul>
                </div>
                <div>
                  <ul class="list-inline">
                    <li>
                      <img src="img/usr_placeholder.gif" alt="img/usr_placeholder.gif" class="img-circle img-responsive">
                    </li>
                    <li>
                      <img src="img/usr_placeholder.gif" alt="img/usr_placeholder.gif" class="img-circle img-responsive">
                    </li>
                    <li>
                      <img src="img/usr_placeholder.gif" alt="img/usr_placeholder.gif" class="img-circle img-responsive">
                    </li>
                    <li>
                      <img src="img/usr_placeholder.gif" alt="img/usr_placeholder.gif" class="img-circle img-responsive">
                    </li>
                  </ul>
                  <span class="help-block text-uppercase">78 more...</span>
                </div>
            </div>
            
          </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>